* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Imgs/floor.jpg);
    /*background: #ffffff;*/
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.first-circle {
    position: absolute;
    top: -250px;
    left: -250px;
    width: 500px;
    height: 500px;
    background: rgba(252, 227, 8, 0.726);
    border-radius: 500px;
    z-index:-100;
    filter: blur(50px);
}

@media (max-width : 600px)
{
    .first-circle {
        position: absolute;
        top: -50px;
        left: -50px;
        width: 100px;
        height: 100px;
        background: #83a7c956;
        border-radius: 100px;
        z-index:-100;
    }
}

.second-circle {
    position: absolute;
    top: 100%;
    left: 100%;
    margin-left: -500px;
    margin-top: -500px;
    width: 1000px;
    height: 1000px;
    background: #4dff00ab;
    filter: blur(50px);
    border-radius: 1000px;
    z-index: -100;
}

.panel {
    position: absolute;
    /*top: 10%;*/
    /*left: 10%;*/
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background: #ffffff2F;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 1;
    border-radius: 15px;
}

.button{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    background: #0050fc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 0;
    border-radius: 3px;
    user-select: none;
}

.button:nth-child(1){
    left: 50px;
    width: 100px;
}

.button:nth-child(2){
    left: 250px;
}

.button:nth-child(3){
    left: 450px;
}

.book {
    position: absolute;
    top: 200px;
    left: 150px;
    width: 340px;
    height: 510px;
    background: #0000FF;
    transform: rotate(-8deg) translate(0px, 60px);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.9);
    font-size: 80px;
    padding: 40px;
    color: #FFFFFF;
    user-select: none;
}

.sheet {
    position: absolute;
    top: 20px;
    left: 760px;
    width: 340px;
    height: 510px;
    background: #fff;
    transform: rotate(20deg) translate(0px, 60px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
    font-size: 80px;
    padding: 40px;
    color: #000000;
    user-select: none;
}
