* {
    margin: 0;
    padding: 0;
    font-family:    'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: url(Imgs/floor.jpg);*/
    background:#f1f1f1;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#text{
    position: absolute;
    color: #fff;
    font-weight: 700;
    min-width: 800px;
    max-width: 800px;
    font-size: 9em;
    line-height: 0.92em;
    letter-spacing: 2px;
    text-align: center;
    user-select: none;
    transform: rotate( -28deg) skewX(25deg);
    margin-left: 0px;
    margin-top: 0px;
    z-index: -10;
}

#text::before{
    content: attr(data-text);
    position: absolute;
    top: 35px;
    left: -35px;
    min-width: 800px;
    max-width: 800px;
    color: rgba(0, 0, 255, 0.5);
    text-shadow: none;
    filter: blur(6px);
    z-index: -11;
}

.first-circle {
    position: absolute;
    top: -250px;
    left: -250px;
    width: 500px;
    height: 500px;
    background: rgba(252, 227, 8, 0.726);
    border-radius: 500px;
    z-index:-100;
    filter: blur(50px);
}

@media (max-width : 600px)
{
    .first-circle {
        position: absolute;
        top: -50px;
        left: -50px;
        width: 100px;
        height: 100px;
        background: #83a7c956;
        border-radius: 100px;
        z-index:-100;
    }
}

.second-circle {
    position: absolute;
    top: 100%;
    left: 100%;
    margin-left: -500px;
    margin-top: -500px;
    width: 1000px;
    height: 1000px;
    background: #4dff00ab;
    filter: blur(50px);
    border-radius: 1000px;
    z-index: -100;
}

.panel {
    position: absolute;
    /*top: 10%;*/
    /*left: 10%;*/
    width: 100%;
    height: 100%;
    top: 50px;    
    background: #ffffff2F;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.button{
    position: absolute;
    width: 100px;
    height: 30px;
    top: 35px;
    background: #FFFFFF;
    color: #0050fc;
    border: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 0;
    border-radius: 3px;
    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    line-height: 0.92em;
    letter-spacing: 2px;
    border-radius: 10px;
    text-shadow: #f1f1f1;
    cursor: pointer;
    transition: top 0.5s, z-index 0.0s, transform 0.5s;
    transition-delay: 0.5s, 0.5s, 0.0s;
}
.button:hover:not(.active){
    top: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.5);
    transition-delay: 0.0s, 0.5s, 0.5s;
    transform: translateY(20px);
    z-index: 2;
}

.button.active{
    top: 15px;
    transform: translateY(20px);
    transition-delay: 0.0s, 0.5s, 0.5s;
    background: #0000FF;
    color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.button:nth-child(1){
    left: 30px;
}

.button:nth-child(2){
    left: 170px;
}

.button:nth-child(3){
    left: 310px;
}

.button:nth-child(4){
    left: 100%;
    margin-left: -130px;
}

.book {
    position: absolute;
    top: 200px;
    left: 150px;
    width: 340px;
    height: 510px;
    background: #0000FF;
    transform: rotate(-8deg) translate(0px, 60px);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.9);
    font-size: 80px;
    padding: 40px;
    color: #FFFFFF;
    user-select: none;
}

.sheet {
    position: absolute;
    top: 20px;
    left: 760px;
    width: 340px;
    height: 510px;
    background: #fff;
    transform: rotate(20deg) translate(0px, 60px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
    font-size: 80px;
    padding: 40px;
    color: #000000;
    user-select: none;
}
