*
{
    margin:         0;
    padding:        0;
    font-family:    'Poppins', sans-serif;
}

body
{
    display:            flex;
    justify-content:    center;
    align-items:        center;
    min-height:         100vh;
    background:         #f1f1f1;
    overflow: hidden;
}

#text{
    position: relative;
    color: #fff;
    font-weight: 700;
    min-width: 800px;
    max-width: 800px;
    font-size: 9em;
    line-height: 0.92em;
    letter-spacing: 2px;
    text-align: center;
    user-select: none;
    transform: rotate( -28deg) skewX(25deg);
    margin-left: 0px;
    margin-top: -10px;
}

#text::before{
    content: attr(data-text);
    position: absolute;
    top: 35px;
    left: -35px;
    min-width: 800px;
    max-width: 800px;
    color: rgba(0, 0, 0, 0.3);
    text-shadow: none;
    filter: blur(8px);
    z-index: -1;
}